<%= form_for([@user,@firm, @ftp_server]) do |f| %>
  <% if @ftp_server.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @ftp_server.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <%= f.text_field :url, :class => 'text-field', :required => true, :title => "Url can't be blank"  %>
    </div>
    <div class="control-group">
      <%= f.label :port, :class => 'control-label' %>
      <%= f.number_field :port, :class => 'text-field', :required => true, :pattern => "\\d+", :title => "Port must be a number"  %>
    </div>
    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <%= f.text_field :username, :class => 'text-field', :required => true, :title => "Username can't be blank"  %>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <%= f.text_field :password, :class => 'text-field'  %>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

